<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MVC2015DBContext" connectionString="Data Source=10.190.130.249;Initial Catalog=MVC2015DB;Persist Security Info=True;User ID=sa;Password=sa12345;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>