@model System.Web.Mvc.HandleErrorInfo
@using MVC2015.Utility.Resource
@{
    ViewBag.Title = @ResourceHelper.GetValue("Common_ErrorPage_PageTitle");
}

<div class="title">
    <h2 class="error">@ResourceHelper.GetValue("Common_ErrorPage_Content")</h2>
</div>
@Html.ScriptBlock(
@<script>
    $(document).ready(function ()
    {
        location.href="@Url.Action("HttpError", "Error")";
    })
    </script>
)